#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*  */
.header {
  margin-bottom: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.todo_list_item {
  list-style: none;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
.todo_list_item.complete {
  background-color: #000;
  padding-left: 6px;
  border-radius: 8px;
  color: #888;
}
input {
  height: 40px;
  max-width: 500px;
  width: 100%;
}
.todo_text {
  min-width: 40%;
  text-align: left;
}
.btn_wrap {
  min-width: 30%;
  display: flex;
  gap: 12px;
  justify-content: end;
}
.add_wrap {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.edit_input {
  display: none;
}
button:disabled {
  cursor: not-allowed;
}
button:disabled:hover {
  border-color: rgb(26, 26, 26);
}
